@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-color:#fb7185;
    --dark-grey: #6b7280;
    --o-w: #d1d5db;
    --hover-color:#4664a1;
}

/* body selector applies to whole body of page  */

body {

    font-family: 'montserrat', sans-serif;
    margin: 0px;
    /* User stylesheet overriden */
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

main{
    flex-grow:1;
}

hr {
    margin: 2rem 0rem;
}

/* Container */

.container {
    padding:1rem;
}

.container-center {
    max-width: 600px;  
    margin: auto;
}

.container-img{
    max-width: 600px;
    padding: 1rem 0rem;
    display: block;
    margin: auto;
}

/* Links */

.link {
    font-family:inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.link-primary {

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-primary:hover{
    background-color:rgb(187, 116, 128);
}

.link-secondary:hover{
    background-color:#dddddd;
    transition: all 0.2s;
}

.link-secondary {

    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link-boldheading{
font-weight: bold;
font-size: large;
padding: 0rem;
color: var(--primary-color);

}

.link-boldheading:hover{
    color:var(--hover-color);
}

.link-active {

    font-weight: bold;
}




/* List */

.list-nonbullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.list-block{
    padding: 1rem;
}








/* Nav */

.nav {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    position:sticky;
    top:0px;
}

.nav .link {
    color: white;
    
}

.nav .link:hover{
    color:white;
    font-weight: bold;
}



.dev {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.align {
    text-align: right;
}

/* Header */

.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

.heading-highlight {
    color: var(--primary-color);
}


/* Section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--o-w);
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-header{
    font-weight: bold;
    font-size:x-large;
}

.footer .link {
    color: white;
    
}

.footer .link:hover {
    color: white;
    font-weight:bold;
}

.social-align {
    text-align: center;
    /* this will not work as some web browsers are having their own padding (User stylesheet)  */
}

footer ul {

    padding-inline-start: 0px;
    /*changed default padding of browser (User stylesheet) which was  40px initially */
}