@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-color:#fb7185;
    --dark-grey: #6b7280;
    --o-w: #d1d5db;
}

/* body selector applies to whole body of page  */

body {

    font-family: 'montserrat', sans-serif;
    margin: 0px;
    /* User stylesheet overriden */
}


hr {
    margin: 2rem 0rem;
}

/* Container */

.container {
    padding: 2rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-secondary {

    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link-boldheading{
font-weight: bold;
font-size: large;
padding: 0rem;
color: var(--primary-color);

}



/* List */

.list-nonbullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.list-block{
    padding: 1rem;
}

.link-active {

    font-weight: bold;
}







/* Nav */

.nav {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav .link {
    color: white;
}


.dev {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.align {
    text-align: right;
}

/* Header */

.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

.heading-highlight {
    color: var(--primary-color);
}


/* Section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--o-w);
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.social-align {
    text-align: center;
    /* this will not work as some web browsers are having their own padding (User stylesheet)  */
}

footer ul {

    padding-inline-start: 0px;
    /*changed default padding of browser (User stylesheet) which was  40px initially */
}