@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-color:#fb7185;
    --dark-grey: #6b7280;
    --o-w: #d1d5db;
    --hover-color:#4664a1;
}

/* body selector applies to whole body of page  */

body {

    font-family: 'montserrat', sans-serif;
    margin: 0px;
    /* User stylesheet overriden */
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

main{
    flex-grow:1;
}

hr {
    margin: 2rem 0rem;
}

/* Container */

.container {
    padding:.5rem;
}

.container-center {
    max-width: 600px;  
    margin: 0em auto;
}

.container-img{
    max-width: 600px;
    padding: 1rem 0rem;
    height:40vh;
    width:600px;
    display: block;
    margin: auto;
}

/* Links */

.link {
    font-family:inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right:1em;
    margin-top: 1em;
}


.link-primary {

    background-color: var(--primary-color);
    border-radius:20px;
    color: white;

}

.link-primary:hover{
    color:black;
}

.link-secondary:hover{
    background-color:#dddddd;
    transition: all 0.2s;
}

.link-secondary {

    color: black;
    border: 1px solid black;
    border-radius:20px;
   font-weight:lighter;
}

.link-boldheading{
font-weight: bold;
font-size: large;
padding: 0rem;
color: var(--primary-color);

}

.link-boldheading:hover{
    color:var(--hover-color);
}

.link-active {

    font-weight: bold;
}




/* List */

.list-nonbullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.list-block{
    padding: 1rem;
    list-style: none;
    text-align: center;
    margin:1em auto;

    
}

.list-block h2{
    margin: 0.2rem 0em;
      
}

.list-block h3{
    margin: 0.2rem 0em;
      
}










/* Nav */

.nav {
    background-color: var(--primary-color);
    padding: 1rem;
    position:sticky;
    top:0px;
}

.nav .link {
    color: white;
    
}

.nav .link:hover{
    color:white;
    font-weight: bold;
}



.dev {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.align {
    text-align: right;
}

/* Header */

.hero {
    display: flex;
    justify-content: space-around;
    background-color:var(--o-w);
    height:60vh;
    
}

.left-hero{
    max-width:30%;
    margin:3rem 0;
    padding-top: 1rem;
    color: var(--dark-grey);
    font-size:29px;
    font-weight:bold;
    line-height:1.4;
    color:rgb(95, 93, 93);
}

.right-hero{
    max-width:50%;
}

.hero-img {
    max-width: 450px;
    margin-top:2rem;
    
}



#element {
    color: var(--primary-color);
}


.hero-heading {
    padding-top: 1rem;
    margin-bottom:2rem;
    color: var(--dark-grey);
    text-align: center;
}

.heading-highlight {
    color: var(--primary-color);
}

/* Section */

.section {
    padding: 2rem;
    max-width: 800px;
    margin: 1em auto;
    border-radius: 10px;
}

.section-proj {
    padding: .1rem;
    max-width: 1000px;
    margin: 1em auto;
    border-radius: 10px;
}

.section h1 {
    text-align: center;
}

.section h2{
    text-align: center;
    margin: 0;
}

.ow {
    background: linear-gradient(#fee2e2,#fecaca,#fca5a5);
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-header{
    font-weight: bold;
    font-size:x-large;
}

.footer .link {
    color: white;
    
}

.footer .link:hover {
    color: white;
    font-weight:bold;
}

.social-align {
    text-align: center;
    /* this will not work as some web browsers are having their own padding (User stylesheet)  */
}

footer ul {

    padding-inline-start: 0px;
    /*changed default padding of browser (User stylesheet) which was  40px initially */
}

.blog-ul{
    margin-top: 0%;
    padding-top: 0%;
}

.blog-ul li{
    margin:0;
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-header{
    font-weight: bold;
    font-size:x-large;
    margin:.5em auto;
}

.footer .link {
    color: white;
    
}

.footer .link:hover {
    color: white;
    font-weight:bold;
}

.social-align {
    text-align: center;
    /* this will not work as some web browsers are having their own padding (User stylesheet)  */
}

footer ul {

    padding-inline-start: 0px;
    /*changed default padding of browser (User stylesheet) which was  40px initially */
}

.icons {
    margin:.5em 1em;
    font-size: small;
    color:white;
    transition:all 0.3s ;
     
}

.icons i{
    transition:all 0.3s linear;
}
.icons i:hover{
    transform:scale(1.2);
   
}

/* .fa-github{
    color:white;
    
}

.fa-twitter{
    color:rgb(29 161 242);
}

.fa-linkedin{
    color:#0077b5;
} */